<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <nav class="">
        <div class="logo">
            <h3><a href="#" class="logo">MY SITE</a></h3>
        </div>

        <div class="links">
            <ul>
                <li><a href="#">HOME</a></li>
            </ul>
            <ul>
                <li><a href="#">USERS</a></li>
            </ul>
        </div>
    </nav>
    
    <main>
        <div class="bg-image">
            <!-- <img src="/images/pexels-jaime-reimer-3794940.jpg" alt="Background Image"> -->
        </div>

        <div class="content">
            <div class="left">
                <div class="profile">
                    <img src="/images/user-profile.png" alt="User Image" class="user-image">
                    <h3>Tobechi Moses</h3>
                    <h6>Porthacourt, Nigeria</h6>
                    <a href="">https://www.tobechimoses.com/usrng</a>
                </div>

              
                
                <div class="company">
                    <div class="company-title">
                        <h5>Company</h5>
                    </div>

                    <div class="inner-company-details">
                        <div class="company-image">
                            <img src="/images/company-image.png" alt="Company-Image">
                        </div>
                        <div class="company-details">
                            <h3>Obitech Engineering Ltd</h3>
                            <h6>Senior Software Engineer</h6>
                            <p>July 2020 - Present</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="about">
                    <h3>About</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est rem, dignissimos maxime sequi id tenetur ex aut quae consectetur alias nostrum impedit, at tempora laborum animi neque incidunt vel tempore.</p>
                </div>
                
                <div class="contact">
                    <h3>Contact Info</h3>
                    <p>No 7 Freedom Way Oroma Close, Porthacourt. <br>Rivers State, Nigeria 100201.</p>
                    <p>Tobemoss@yahoo.com</p>
                    <p>+234 909 567 2543</p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>