<header class="w-full h-28">
    <app-container [class]="'flex items-center justify-between h-full'">
        <h2 class="text-gray-800 text-xl font-semibold"><a routerLink="/">Users App</a></h2>
        <nav class="flex items-center space-x-4 flex-1 justify-end lg:justify-center lg:space-x-6">
            <app-navlink href="/">
                Home
            </app-navlink>
            <app-navlink href="/users">
                Users
            </app-navlink>
        </nav>
    </app-container>
</header>