<app-container class="pt-[100px]">
    @if(loading) {
    <p>Loading data</p>
    }@else if (error) {
    <p>An error occurred</p>
    }@else {
    <app-user-details-card [user]="user" />
    <div class="mt-24 grid grid-cols-1 gap-16 md:gap-20 lg:grid-cols-2">
        <app-user-company-card [user]="user" />
        <app-user-card-paper class="space-y-3">
            <h2 class="font-bold text-2xl text-primary">About</h2>
            <p class="text-base">I am a seasoned product designer dedicated to bringing your visions to life. Whether
                you're an
                entrepreneur with a
                groundbreaking concept or an established business seeking a design refresh, I'm here to collaborate and
                transform ideas
                into compelling, user-centric products.</p>
        </app-user-card-paper>
    </div>
    }
</app-container>