<div
     class="bg-white p-6 lg:p-8 h-60 flex items-center shadow-xl rounded-[30px] space-x-8 scale-100 transition duration-200 hover:scale-110">
    <img [src]="getImage(user.id)" [alt]="user.name"
         class="w-20 h-20 2xl:w-[120px] 2xl:h-[120px] rounded-full shrink-0" />
    <div class="space-y-8 flex-1 truncate">
        <div class="space-y-2.5">
            <h3 class="text-xl font-semibold text-primary truncate">{{user.name}}</h3>
            <p class="text-base font-normal text-accent inline-flex items-center space-x-1">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                     stroke="currentColor"
                     class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                          d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                </svg>
                <span>{{user.email}}</span>
            </p>
        </div>
        <a [routerLink]="['/users', user.id]"
           class="inline-flex items-center justify-center px-7 py-2 bg-primary text-white rounded-lg">View
            Details</a>
    </div>
</div>